<h2>Donation Endpoints</h2>

<div class="endpoint">
	<p>Add a donation</p>
	<div class="curl">
	<b>Example CURL:</b> curl -H "Content-Type: application/json" -d '{"donation":{"value":50.00}}' -X POST <%= root_url %>v1/wishes/1/donations?auth_token\=j3jJRix_DCma9aX4bW8D
	</div>

	<div class="response">
	<b>Response</b>
	<pre>
	<code>

	</code>
	</pre>
	</div>
</div>