<h2>Donation Endpoints</h2>

<div class="endpoint">
	<p>Add a donation</p>
	<div class="curl">
	<b>Example CURL:</b> curl -H "Content-Type: application/json" -d '{"donation":{"value":50.00}}' -X POST <%= root_url %>v1/wishes/1/donations?auth_token\=j3jJRix_DCma9aX4bW8D
	</div>

	<div class="response">
	<b>Response</b>
	<pre>
	<code>
	{
	    "donation": {
	        "amount": 50.0,
	        "created_at": "2013-10-29T11:51:39Z",
	        "id": 5,
	        "updated_at": "2013-10-29T11:51:39Z",
	        "user_id": 5,
	        "wish": {
	            "cost": 200.0,
	            "id": 1,
	            "title": "A Wish!",
	            "verified": false
	        },
	        "wish_id": 1
	    },
	    "success": true
	}
	</code>
	</pre>
	</div>
</div>