<h2>User Endpoints</h2>

<p>Register a user</p>
<b>Example CURL:</b> curl -H "Content-Type: application/json" -d '{"user":{"email":"you@email.com","password":"mypassissuperlog"}}' -X POST <%= root_url %>v1/users/register
