<h2>Wish Endpoints</h2>

<div class="endpoint">
	<p>Create a wish</p>
	<div class="curl">
	<b>Example CURL:</b> curl -H "Content-Type: application/json" -d '{"wish":{"title":"A Wish!","cost":200.00}}' -X POST <%= root_url %>v1/wishes?auth_token\=j3jJRix_DCma9aX4bW8D
	</div>

	<div class="response">
	<b>Response</b>
	<pre>
	<code>

	</code>
	</pre>
	</div>
</div>