<h2>Wish Endpoints</h2>

<div class="endpoint">
	<p>Create a wish</p>
	<div class="curl">
	<b>Example CURL:</b> curl -H "Content-Type: application/json" -d '{"wish":{"title":"A Wish!","cost":200.00}}' -X POST <%= root_url %>v1/wishes?auth_token\=j3jJRix_DCma9aX4bW8D
	</div>

	<ul>
		<li>Description &bull; text</li>
		<li>Latitude &bull; float</li>
		<li>Longitude &bull; float</li>
		<li>Title &bull; string</li>
		<li>Cost &bull; float</li>
	</ul>

	<div class="response">
	<b>Response</b>
	
	<pre>
	<code>
	{
	    "success": true,
	    "wish": {
	        "cost": 200.0,
	        "created_at": "2013-10-29T11:57:42Z",
	        "id": 7,
	        "title": "A Wish!",
	        "updated_at": "2013-10-29T11:57:42Z",
	        "user": {
	            "created_at": "2013-10-29T10:56:51Z",
	            "email": "you@email.com",
	            "id": 5,
	            "updated_at": "2013-10-29T11:57:42Z"
	        },
	        "user_id": 5,
	        "verified": false
	    }
	}
	</code>
	</pre>
	</div>
</div>

<div class="endpoint">
	<p>Latest Wishes</p>
	<div class="curl">
	<b>Example CURL:</b> curl -H "Content-Type: application/json" -X GET <%= root_url %>v1/wishes?auth_token\=j3jJRix_DCma9aX4bW8D
	</div>

	<div class="response">
	<b>Response</b>
	<pre>
	<code>
	{
	    "success": true,
	    "wishes": [
	        {
	            "cost": 200.0,
	            "created_at": "2013-10-29T11:57:42Z",
	            "donated": 200.0,
	            "id": 7,
	            "title": "A Wish!",
	            "updated_at": "2013-10-29T11:57:42Z",
	            "user": {
	                "created_at": "2013-10-29T10:56:51Z",
	                "email": "you@email.com",
	                "id": 5,
	                "updated_at": "2013-10-29T12:10:12Z"
	            },
	            "user_id": 5,
	            "verified": true
	        },
	        {
	            "cost": 200.0,
	            "created_at": "2013-10-29T11:56:41Z",
	            "donated": 200.0,
	            "id": 6,
	            "title": "A Wish!",
	            "updated_at": "2013-10-29T11:56:41Z",
	            "user": {
	                "created_at": "2013-10-29T10:56:51Z",
	                "email": "you@email.com",
	                "id": 5,
	                "updated_at": "2013-10-29T12:10:12Z"
	            },
	            "user_id": 5,
	            "verified": true
	        }
	    ]
	}
	</code>
	</pre>
	</div>
</div>

<div class="endpoint">
	<p>Show a wish</p>
	<div class="curl">
	<b>Example CURL:</b> curl -H "Content-Type: application/json" -X GET <%= root_url %>v1/wishes/1?auth_token\=j3jJRix_DCma9aX4bW8D
	</div>

	<div class="response">
	<b>Response</b>
	<pre>
	<code>
	{
	    "success": true,
	    "wish": {
	        "cost": 200.0,
	        "created_at": "2013-10-29T11:24:16Z",
	        "donations": [
	            {
	                "amount": 50.0,
	                "user": {
	                    "created_at": "2013-10-29T10:56:51Z",
	                    "email": "you@email.com",
	                    "id": 5,
	                    "updated_at": "2013-10-29T12:47:46Z"
	                }
	            }
	        ],
	        "id": 1,
	        "title": "A Wish!",
	        "updated_at": "2013-10-29T11:24:16Z",
	        "user": {
	            "created_at": "2013-10-29T10:56:51Z",
	            "email": "you@email.com",
	            "id": 5,
	            "updated_at": "2013-10-29T12:47:46Z"
	        },
	        "user_id": 5,
	        "verified": true
	    }
	}
	</code>
	</pre>
	</div>
</div>